/* #region common */

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* colors */
    --primary: #9693e4;
    --secondary: #0184fc;
    --special: #fdc15f;
    --light: #fefffe;
    --dark: #333333;
    /* font_family */
    --font: 'Titillium Web', sans-serif;
}

body {
    font-family: var(--font);
}

img {
    max-width: 100%;
}

/* #endregion common */

/* #region debug */

/* #endregion debug */

/* #region utilities */

/* #endregion utilities */

/* #region main */

/* #endregion main */

/* #region responsive */

/* #endregion responsive */